body {
    font-family: 'Arial', sans-serif;
    background-color: #f9c2a9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
    background-color: #f98e7d;
    color: #161515;
    padding: 1em;
    text-align: left;
    font-size: larger;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #b0422f; 
    padding: 10px 0;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}
nav a:hover {
    color: #ff8c00; /* Change color on hover */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Take remaining vertical space */
}

.login-container {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin: auto; /* Center the login container horizontally */
}

.login-container h2 {
    margin-top: 0;
    color: #333;
}

.form-group {
    margin-bottom: 1em;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff8c00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ff7000;
}

footer {
    background-color: #f98e7d;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
    margin-top: auto; /* Push the footer to the bottom */
}

